{{#each items}}
	<div class="item bg_fff collection-item">
		<a class="wp100 hp100" href="../user/strategy-detail.html?code={{guide.code}}">
		    <div class="item-c-div item-l">
		        <img class="center-img" src="{{formatImage guide.pic}}">
		    </div>
		    <div class="item-c flex flex-dv flex-jb">
		        <div class="item-c-top1 c_00 t_norwrap">{{guide.title}}</div>
		        <div class="item-c-center twoline-ellipsis f12_80">{{clearTag guide.description}}</div>
		        <div class="travel-item-bottom">{{formatePointDate guide.updateDatetime}}</div>
		    </div>
		</a>
	</div>
{{/each}}