{{#each items}}
	<div class="item bg_fff collection-item p0 z_index0">
		<a class="wp100 hp100 collection-item-a" href="../travel/travel-detail.html?code={{line.code}}">
		    <div class="item-c-div item-l">
		        <img class="center-img" src="{{formatImage line.pathPic}}"/>
		    </div>
		    <div class="item-c p-r flex flex-dv flex-jb">
		        <div class="item-c-top1 twoline-ellipsis">{{line.name}}</div>
		        <div class="item-c-center item-c-center1 t_norwrap">{{line.joinPlace}}出发</div>
		        <div class="collection-food-bottom">¥{{formatMoney line.price}}<span class="smf">起</span></div>
		    </div>
		</a>
		<div class="al_addr_del" code={{line.code}} type="1">删除</div>
	</div>
{{/each}}
