{{#each items}}
	<div class="item bg_fff collection-item p0 z_index0">
		<a class="wp100 hp100 collection-item-a" href="../user/strategy-detail.html?code={{guide.code}}">
		    <div class="item-c-div item-l">
		        <img class="center-img" src="{{formatImage guide.pic}}">
		    </div>
		    <div class="item-c flex flex-dv flex-jb">
		        <div class="item-c-top1 c_00 t_norwrap">{{guide.title}}</div>
		        <div class="item-c-center twoline-ellipsis f12_80">{{clearTag guide.description}}</div>
		        <div class="travel-item-bottom">{{formateDateTime1 guide.updateDatetime}}</div>
		        <div class="travel-gl-collection-wrap">
		        	<div class="travel-gl-collection-icon"></div>
		        	<span class="travel-gl-collection-times">{{guide.collectionTimes}}</span>
		        </div>
		    </div>
		</a>
		<div class="al_addr_del" code={{guide.code}} type="2">删除</div>
	</div>
{{/each}}
