{{#each items}}
    <div class="item">
        <a class="show block wp100" href="./carpool-detail.html?code={{code}}">
            <div class="item-c p-r flex flex-dv flex-jb pl0_i">
                <div class="item-c-top1 t_norwrap pb0_i pr90_i">上车地点：{{startSite}}</div>
                <div class="item-c-top1 t_norwrap pb0_i pr50_i">下车地点：{{endSite}}</div>
                <div class="item-c-center item-c-center0 t_norwrap">拼{{totalNum}}人</div>
                <div class="item-c-bottom0 t_norwrap mt0">
                    ¥{{formatMoney nextPrice}}<span class="smf">起</span>
                </div>
                <div class="carpool-item-status">{{formatCarpoolStatus status}}</div>
                <div class="carpool-item-datetime">{{formateDateTime outDatetime}}</div>
            </div>
        </a>
    </div>
{{/each}}