<a class="show clearfix" code="{{code}}">
    <div class="address-title">收货人：<span class="a-addressee">{{addressee}}</span><span class="fr pr38 a-mobile">{{mobile}}</span></div>
    <div class="address-cont pr38">收货地址：
    	<span class="a-province pr4">{{province}}</span>
    	<span class="a-city pr4">{{city}}</span>
    	<span class="a-district pr4">{{district}}</span>
    	<span class="a-detailAddress">{{detailAddress}}</span>
    </div>
    <i class="r-tip"></i>
</a>