{{#each items}}
	<div class="manage ba hig99 bb plr10 p-r">
		<a href="./travel-note-detail.html?code={{code}}" class="show wp100">
	    	<div class="image inline_block mt12 p-r over-hide">
	            <img src="{{formatImage pic}}" class="center-img">
	        </div>
	        <div class="inline_block  ptb12 p-a travel-font hp">
	        	<div class="travel-note-item-del" data-code="{{code}}"></div>
	        	<div class="travel black fs14 t_norwrap">{{name}}</div>
	            <div class="travel-tip fs12 co9 twoline-ellipsis">{{description}}</div>
	            <div class="travel-time fs11 co9">{{formateDate publishDatetime}}</div>
	            <div class="travel-time fs11 c_ff9c00 ab_r_10">{{formatNoteStatus status}}</div>
	        </div>
	    </a>
    </div>
{{/each}}
