{{#each items}}
	<div class="item">
		<a class="wp100 hp100" href="../user/travel-note-detail.html?code={{code}}">
		    <div class="item-c-div item-l">
		        <img class="center-img" src="{{formatImage pic}}">
		    </div>
		    <div class="item-c">
		        <div class="item-c-top1 pb2_i c_00 t_norwrap">{{name}}</div>
		        <div class="item-m-m twoline-ellipsis">{{description}}</div>
		        <div class="travel-item-bottom">{{formateDate publishDatetime}}</div>
		    </div>
		</a>
	</div>
{{/each}}
