{{#each items}}
    <a class="ptb20 b_bd_b p_r show plr10" code="{{code}}">
        <p class="s_11 t_bold">
            <span class="a-addressee">{{addressee}}</span>
            <span class="a-mobile" class="pl10">{{mobile}}</span>
        </p>
        <p class="s_10 pr16 t_323232">
            <span class="pr10 a-province">{{province}}</span>
            <span class="pr10 a-city">{{city}}</span>
            <span class="pr10 a-district">{{district}}</span>
            <span class="a-detailAddress">{{detailAddress}}</span>
        </p>
        <div class="radio-tip"><i></i></div>
    </a>
{{/each}}