<ul class="b_bd_b bg_fff">
    {{#each items}}
        <li class="ptb8 plr10 clearfix b_bd_b p_r" code="{{code}}" saleP="{{salePrice}}">
            <div class="fl wp34 tc pl28 p_r c-img-l">
                <div class="radio-tip1 ab_l0"><i></i></div>
                <a href="../detail/mall_detail.html?code={{productCode}}">
                    <img src="{{pic1}}"/>
                </a>
            </div>
            <div class="fl wp66 pl12">
                <p class="t_323232 s_10">{{modelName}}</p>
                <p class="t_f64444 s_10">￥{{totalAmount}}</p>
                <div class="t_666 ptb10">
                    <span class="subCount a_s_span t_bold tc"><img src="/static/images/sub-icon.png" style="width: 20px;"/></span>
                    <input class="buyCount tc w70p s_13 lh36" type="text" value="{{quantity}}"/>
                    <span class="addCount a_s_span t_bold tc"><img src="/static/images/add-icon.png" style="width: 20px;"/></span>
                </div>
            </div>
            <img class="del-icon" src="/static/images/delete.png"/>
        </li>
    {{/each}}
</ul>