<ul class="wp100">
    <li class="tc wp100 pt20b10">
        <div class="wp70 mlr_auto">
            <p class="t_red s_13 ptb4">{{advTitle}}</p>
            <div><img src="{{majorPic}}"/></div>
            <p class="s_10">{{majorText}}</p>
        </div>
    </li>
    <li class="tc bg_fa pt20b10">
        <div class="wp70 mlr_auto">
            <div><img src="{{familyPic}}"/></div>
            <p class="s_10">{{familyText}}</p>
        </div>
    </li>
    <li class="tc pt20b10">
        <div class="wp70 mlr_auto">
            <div><img src="{{highlightPic}}"/></div>
            <p class="s_10">{{highlightText}}</p>
        </div>
    </li>
</ul>