<ul>
	{{#each items}}
        <li class="ptb8 clearfix b_bd_b plr10">
            <a href="../operator/buy.html?code={{productCode}}">
                <div class="fl wp30 tc"><img src="{{advPic}}"/></div>
                <div class="fl wp70 pl12">
                    <p class="tl">{{productName}}</p>
                    <p class="tl item_totalP">￥{{formatPrice salePrice}}</p>
                    <p class="t_80">×<span>{{quantity}}</span></p>
                </div>
            </a>
        </li>
    {{/each}}              
</ul>