<ul class="b_bd_b">
	{{#each items}}
        <li class="ptb8 b_bd_b plr10" modelCode="{{code}}">
            <a class="show clearfix" href="../operator/buy.html?code={{product.productCode}}">
                <div class="fl wp30 tc"><img src="{{product.advPic}}"/></div>
                <div class="fl wp70 pl12">
                    <p class="tl">{{product.name}}</p>
                    <p class="tl item_totalP">￥{{product.discountPrice}}</p>
                    <p class="t_80">×<span>{{quantity}}</span></p>
                </div>
            </a>
        </li>
    {{/each}}              
</ul>