<a code="{{code}}" class="show">
    <p class="s_14 t_bold pr16">
        <span class="a-addressee" id="addressee">{{addressee}}</span>
        <span id="mobile" class="pl10 a-mobile">{{mobile}}</span>
    </p>
    <p class="s_14 pr16 t_323232">
        <span class="pr10 a-province">{{province}}</span><span class="pr10 a-city">{{city}}</span>
        <span class="pr10 a-district">{{district}}</span>
        <span class="a-detailAddress">{{detailAddress}}</span>
    </p>
    <i class="r-tip"></i>
</a>